
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Register</title>
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>
	<link rel="stylesheet" href="~/css/login.style.css">
</head>
<body>
	<!-- partial:index.partial.html -->
	<div class="login-container">

		@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-login" }))
		{
			@Html.AntiForgeryToken()
			<ul class="login-nav">
				<li class="login-nav__item ">
					<a href="/Account/Login">Sign In</a>
				</li>
				<li class="login-nav__item active">
					<a href="#">Sign Up</a>
				</li>
			</ul>
			<label for="login-input-user" class="login__label">
				FirstName
			</label>
			<input id="login-input-user" name="FirstName" class="login__input" type="text" />
			<label for="login-input-password" class="login__label">
				LastName
			</label>
			<input id="login-input-user" name="LastName" class="login__input" type="text" />
			<label for="login-input-user" class="login__label">
				Email
			</label>
			<input id="login-input-user" name="Email" class="login__input" type="text" />
			<label for="login-input-user" class="login__label">
				Address
			</label>
			<input id="login-input-user" name="Address" class="login__input" type="text" />
			<label for="login-input-password" class="login__label">
				Password
			</label>
			<input id="login-input-password" name="Password" class="login__input" type="password" />
			<label for="login-input-password" class="login__label">
				Confirm Password
			</label>
			<input id="login-input-password" name="ConfirmPassword" class="login__input" type="password" />

			<button class="login__submit" type="submit">Register</button>

		}
	</div>
	<!-- partial -->

</body>
</html>
